<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/syntax.css">
  <link rel="stylesheet" type="text/css" href="/css/site.css">
  <title>{{ page.title }}</title>
</head>

<body>

{{ content }}

<footer>
    <div>
        <section>
            <p><a href="http://twitter.com/youpvp">follow me on twitter</a></p>
            <p><a href="https://youpvp.uservoice.com">user voice</a></p>
        </section>
        <section>
            <p><a href="/blog/archive">Blog Archive</a></p>
        </section>
    </div>
</footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4782514-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>